meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(name='description', content='Arduino Web App')
meta(name='author', content='Karim')

title #{title}

link(rel='apple-touch-icon', sizes='57x57', href='assets/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='assets/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='assets/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='assets/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='assets/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='assets/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='assets/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='assets/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='assets/favicon/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='assets/favicon/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')
link(rel='manifest', href='assets/favicon/manifest.json')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='assets/favicon/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')

// Main styles for this application
link(href='css/style.css', rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css', rel='stylesheet')
#loading
  .loader
    .dot | L
    .dot | O
    .dot | A
    .dot | D
    .dot | I
    .dot | N
    .dot | G
    .cogs
      .cog.cog0
        .bar
        .bar
        .bar
        .bar
      .cog.cog1
        .bar
        .bar
        .bar
        .bar
      .cog.cog2
        .bar
        .bar
        .bar
        .bar

