header.c-header.c-header-light.c-header-fixed.c-header-with-subheader
  button.c-header-toggler.c-class-toggler.d-lg-none.mfe-auto(type="button" data-target="#sidebar" data-class="c-sidebar-show")
    svg.c-icon.c-icon-lg
      use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-menu")
  a.c-header-brand.d-lg-none(href="#")
    svg(width="118" height="46" alt="CoreUI Logo")
      use(xlink:href="assets/brand/coreui.svg#full")
  button.c-header-toggler.c-class-toggler.mfs-3.d-md-down-none(type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true")
    svg.c-icon.c-icon-lg
      use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-menu")
  if !starter
    ul.c-header-nav.d-md-down-none
      li.c-header-nav-item.px-3
        a.c-header-nav-link(href="/") Dashboard
    ul.c-header-nav.ml-auto.mr-4
      li.c-header-nav-item.dropdown
        a.c-header-nav-link(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
          .c-avatar
            img.c-avatar-img(src="assets/img/avatars/6.jpg" alt="user@email.com")
        .dropdown-menu.dropdown-menu-right.pt-0
          .dropdown-header.bg-light.py-2
            strong Account
          a.dropdown-item(href="/logout")
            svg.c-icon.mr-2
              use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-account-logout")
            |  Logout
  .c-subheader.px-3
    include ./../_partials/breadcrumb.pug
