// CoreUI and necessary plugins
script(src='js/coreui.bundle.min.js')
<!--[if IE]><!-->
script(src='js/svgxuse.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js')
script(src='js/app.js')
<!--<![endif]-->

block scripts

