.c-sidebar.c-sidebar-dark.c-sidebar-fixed.c-sidebar-lg-show#sidebar
  .c-sidebar-brand.d-lg-down-none
   | Arduino by Karim
  ul.c-sidebar-nav
    li.c-sidebar-nav-item
      a.c-sidebar-nav-link(href='/')
        svg.c-sidebar-nav-icon
          use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-speedometer")
        |  Dashboard


  button.c-sidebar-minimizer.c-class-toggler(type="button" data-target="_parent" data-class="c-sidebar-minimized")
