extends /_layout/default.pug

block styles
  link(href='css/coreui-chartjs.css', rel='stylesheet')


block view
  .fade-in
    .row
      .col-sm-6.col-lg-4
        .card.text-white.bg-gradient-primary
          .card-body.card-body.pb-0.d-flex.justify-content-between.align-items-start
            div
              .text-value-lg #{currentValues.temperature.value}
              div Temperature
          .c-chart-wrapper.mt-3.mx-3(style='height:70px;')
            div
              .text-value-sm.text-center
                span.last-updated Last Updated : &nbsp;
                 span.last-updated-date #{currentValues.temperature.updated_on}
      // /.col
      .col-sm-6.col-lg-4
              .card.text-white.bg-gradient-info
                .card-body.card-body.pb-0.d-flex.justify-content-between.align-items-start
                  div
                    .text-value-lg #{currentValues.moisture.value}
                    div Moisture
                .c-chart-wrapper.mt-3.mx-3(style='height:70px;')
                  div
                    .text-value-sm.text-center
                      span.last-updated Last Updated : &nbsp;
                       span.last-updated-date #{currentValues.moisture.updated_on}
      // /.col
      .col-sm-6.col-lg-4
              .card.text-white.bg-gradient-warning
                .card-body.card-body.pb-0.d-flex.justify-content-between.align-items-start
                  div
                    .text-value-lg #{currentValues.humidity.value}
                    div Humdity
                .c-chart-wrapper.mt-3.mx-3(style='height:70px;')
                  div
                    .text-value-sm.text-center
                      span.last-updated Last Updated : &nbsp;
                       span.last-updated-date #{currentValues.humidity.updated_on}
      // /.col
    // /.row
    .card
      .card-body
        .d-flex.justify-content-between
          div(style='width:100%')
            h4.card-title.mb-0 Comparison
            .small.text-muted.float-right #{todayDate}
        .c-chart-wrapper(style='height:300px;margin-top:40px;')
          canvas#main-chart.chart(height='300')

    // /.card
    - var values = last7Days;
        .row
          .col-md-12
            .card
              .card-header
                | Last Week
              .card-body
                .row
                  .col-sm-12
                    each val in values
                      .progress-group.mb-4
                        .progress-group-prepend
                          span.progress-group-text
                            | #{val.Date}
                          span.progress-group-text.reading-text
                             | T M H C
                        .progress-group-bars(style="margin-left: 20px;")
                          .progress.progress-xs.mb-2(data-toggle="tooltip" title="Avg Temperature : "+((val.temperature * 100 )/val.total).toFixed(2) +"%")
                            .progress-bar.bg-gradient-info(role='progressbar',style='width:'+(val.temperature * 100 )/val.total+'%' aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                          .progress.progress-xs.mb-2(data-toggle="tooltip" title="Avg Moisture : "+((val.moisture * 100 )/val.total).toFixed(2) +"%")
                            .progress-bar.bg-gradient-primary(role='progressbar', style='width:'+(val.moisture * 100 )/val.total+'%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                          .progress.progress-xs.mb-2(data-toggle="tooltip" title="Avg Humidity : "+((val.humidity * 100 )/val.total).toFixed(2) +"%")
                            .progress-bar.bg-gradient-success(role='progressbar', style='width:'+(val.humidity * 100 )/val.total+'%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                          .progress.progress-xs.mb-2(data-toggle="tooltip" title="Avg Color : "+((val.color * 100 )/val.total).toFixed(2) +"%")
                            .progress-bar.bg-gradient-danger(role='progressbar', style='width:'+(val.color * 100 )/val.total+'%', aria-valuenow='78', aria-valuemin='0', aria-valuemax='100')
                    else
                      p.text-center.text-danger.text-value-lg Sorry no data found
                  // /.col
                // /.row
                br

          // /.col
        // /.row
block scripts
    // Plugins and scripts required by this view
    script(src='js/coreui-chartjs.bundle.js')
    script(src='js/coreui-utils.js')
    script(src='js/main.js')
    script.
          let data = JSON.parse('!{JSON.stringify({chartDataToday})}');
          drawChart(data)
