extends /_layout/pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-8
        .card-group
          .card.p-4
            .card-body
              h1 Login
              p.text-muted Sign In to your account
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text
                    svg.c-icon
                      use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-user")
                input.form-control(type='email', placeholder='Type your email' id='txtEmail')
              .input-group.mb-4
                .input-group-prepend
                  span.input-group-text
                    svg.c-icon
                      use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-lock-locked")
                input.form-control(type='password', placeholder='Type Your password' id='txtPassword')
              .row
                .col-6
                  button.btn.btn-primary.px-4(type='button' id='btnLogin') Login
                .col-6.text-right

          .card.text-white.bg-primary.py-5.d-md-down-none(style='width:44%')
            .card-body.text-center
              div
                h2 Sign up
                p
                  | Plese create account first
                a.btn.btn-lg.btn-dark.mt-3(href='/register') Register Now!
