extends /_layout/pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .card.mx-4
          .card-body.p-4
            h1 Register
            p.text-muted Create your account
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text
                  svg.c-icon
                    use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-envelope-open")
              input.form-control(type='text', placeholder='Email' id="txtEmail")
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text
                  svg.c-icon
                    use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-lock-locked")
              input.form-control(type='password', placeholder='Password' id='txtPass')
            .input-group.mb-4
              .input-group-prepend
                span.input-group-text
                  svg.c-icon
                    use(xlink:href="assets/icons/coreui/icons/sprites/free.svg#cil-lock-locked")
              input.form-control(type='password', placeholder='Repeat password' id='txtPassR')
            button.btn.btn-block.btn-success(type='button' id='btnCreateAcc') Create Account
